@charset "UTF-8";
/* CSS Doc */

/* Universal styles */
body {
  font-family: 'Helvetica';
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.image-content {

}

/* Header */
header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
}

.logo img{
  height: 50px;
}

header nav{
  display: flex;
  justify-content: flex-end;
}

nav span{
  padding: 15px;
  color: white;
}

/* All content */
.content {

}

/* Mission content */
.our-mission {

}

/* Tea content */
.tea-content {

}

/* Location content */
.locations {

}

/* Footer */
footer {

}
